<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Robosense">
  <xacro:property name="M_PI" value="3.1415926535897931"/>
  <xacro:macro
    name="Robosense"
    params="*origin parent:=base_link name:=robosense topic:=/rslidar_points hz:=10 lasers:=128 samples:=1875 collision_range:=0.3 min_range:=0.9 max_range:=130.0 noise:=0.008 min_angle:=-${M_PI} max_angle:=${M_PI} gpu:=false"
  >
    <joint name="${name}_base_mount_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <link name="${name}">
      <inertial>
        <mass value="0.45"/>
        <origin xyz="0 0 0.02"/>
        <inertia
          ixx="${(0.5 * (3 * 0.05 * 0.05 + 0.04 * 0.04)) / 12}"  
          ixy="0"
          ixz="0"
          iyy="${(0.5 * (3 * 0.05 * 0.05 + 0.04 * 0.04)) / 12}"
          iyz="0"
          izz="${0.5 * 0.5 * 0.05 * 0.05}"  
        />
      </inertial>
      <visual>
        <origin xyz="0 0 0.035" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://robosense_description/meshes/3DLidar.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.02"/>
        <geometry>
          <cylinder radius="0.05" length="0.04"/> 
        </geometry>
      </collision>
    </link>
    
  </xacro:macro>
</robot>
